:root {

  --blue:#3008ee;
  --orange:#ff7730;
  --primary: var(--orange);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.card { 
  margin: 5rem 0;
  height: 50vh;
  width: 27vw;
  background-color: rgba(65, 65, 150, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  position: relative;
  height: 400px;
  transition-duration: 0.5s;
  overflow: visible;
}
.light{
  --primary: var(--orange)
  
}
.dark{
  --primary: var(--blue)

}